body {
    /*background: #EEE;*/
    background-image: url("../img/pack.png");
}

a {
    text-decoration: none; /*去掉下划线*/
    text-align: center;
}

#index {
    width: 1000px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.35);
}

#header {
    padding: 20px 5px 5px 20px;
    height: 100px;
    margin-bottom: 6px;
    overflow: hidden;
}

#head1 {
    float: left;
    height: 80px;
    width: 80px;
}

#head2 {
    float: left;
    padding-left: 15px;
    font-size: 36px;
    line-height: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .drop-btn {
    display: block;
    color: white;
    padding: 15px 15px;
}

.drop {
    display: inline-block;
}

.drop-text {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    min-width: 92px;
}

.drop-text a {
    color: black;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    display: block;
}

/*修改一级菜单颜色*/
li a:hover, .drop:hover .drop-btn {
    background-color: deepskyblue;
}

/*显示二级菜单*/
.drop:hover .drop-text {
    display: block;
}

/*修改二级菜单颜色*/
.drop-text a:hover {
    background-color: rgba(100, 100, 200, 1);
}
