body {
    background: #EEE;
}
a {
    text-decoration: none;
}
#index {
    background: #FFF;
    width: 1000px;
    margin: 0 auto;
}

#header {
    padding: 20px 5px 5px 20px;
    height: 100px;
    margin-bottom: 10px;
    overflow: hidden;
}

#head1 {
    float: left;
    height: 80px;
    width: 80px;
}

#head2 {
    float: left;
    padding-left: 15px;
    font-size: 36px;
    line-height: 80px;
}
